{% extends "layout.html" %}
{% block body %}
   <h1 name ='title' style="text-align: center; color: #313B44; font-size: 50px; font-family: Poppins; font-weight: 900; line-height: 235.26px; word-wrap: break-word">{{Title}}</h1>
    <h3 name ='author' style="text-align: center;color: #313B44; font-size: 18px; font-family: Poppins; font-weight: 700; line-height: 27px; word-wrap: break-word"><u>{{Author}}</u></h3>
    <div style="margin-left: 30%;margin-right: 30%;">
        <h5 name ='text' style="text-align: left;">{{Text}}</h5>
    </div>

    

{% endblock %}