{% extends "layout.html" %}
{% block body %}
    <h1 style="text-align: center;">Harshal's Word Counter</h1>
    <h3 style="text-align: center;"><u>~ Harshal Vora</u></h3>
    
    
    
    <div style="margin-left: 30%;margin-right: 30%;">
    <div style="width: fit-content;">
        <form method="POST">
            <textarea name="text" rows="6" cols="50" placeholder="Paste your text here"></textarea>
            <br>
            <input type="submit" value="Count Words">
        </form>
        {% if word_count is not none %}
        <h2>Word Count:</h2>
        <p>{{ word_count }} words</p>
        <h2>Text:</h2>
        <p>{{ text }}</p>
        {% endif %}
        {% if word_count is none %}
        <h2>Word Count:</h2>
        <p>0 words</p>
        <h2>Text:</h2>
        <p>No Text</p>
        {% endif %}   

    </div>
    </div>

{% endblock %}