{% extends "layout.html" %}
{% block body %}
    <h1 style="text-align: center;">Harshal's To Do List</h1>
    <h3 style="text-align: center;"><u>~ Harshal Vora</u></h3>
    <div style="margin-left: 30%;margin-right: 30%;">
    <div style="width: fit-content;">
        <ol>
        <li >Create a flask app</li>
        <li >Route it to this html page</li>
        <li >Create this html page</li>
        <li >Add a ordered list for 5 steps</li>
        <li >Run the flask App</li>
        </ol>
    </div>
    </div>

{% endblock %}